/*-------------------- Fonts in use ---------------*/

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans.ttf');
}

@font-face {
    font-family: "Exo";
    src: url('../fonts/Exo.otf');
}

@font-face {
    font-family: "Huntsman";
    src: url('../fonts/Huntsman.otf');
}

/*-------------------- General --------------------*/

body,
html {
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;

}

h1,
h5 {
    text-align: center;
}

.link {
    text-decoration: none;
}
a {
    color: darkgrey;
}
a:hover {
    color:lightblue;
}
a:active{
    color:cornflowerblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

/*-------------Header-----------------------------*/
.header {
    display: flex;
    height:130px;    
}
.logo {     
   margin-top: 20px;
    margin-right: 10px;
    width:160px;    
    background: url('../img/logo.png') no-repeat;    
}
.companyname {    
    color:black;
    width:40%;
    margin-top: 40px;
    font-size: 40px;  
}
.companyname span a {
    text-decoration: none;
    
}
span {
    font-style: italic;
    font-family: "Exo", sans-serif;
}
.navmenu {     
    width:40%;       
}
.menu li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu li:nth-child(2n-1) {
    background-color: white;
}
.menu li:nth-child(2n) a {
    color: lightseagreen;
}
.menu li { 
    font-size: 18px;
    font-weight: 800;
    margin-left: 50px;
    width: 150px;
    height: 30px;
    border: 1px solid darkgrey;
    text-align: center;
    list-style-type: none;
    font-family: "Exo", sans-serif;   
}
.menu li:hover:after {
    content: "  >>";
    color: lightblue;
}
.menu li a {
    color: darkgrey;    
}
.menu li a:hover {
    color: lightblue;    
}
.menu li a:active {
    color:cornflowerblue;   
}

/*-----------Страница Товар каталога--------------*/
.shortdescription {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.shortdescription:first-letter {    
    font-size: 25px;
    font-family: "Huntsman",sans-serif;
    color:cadetblue;
}
.fulldescription {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.fulldescription:first-letter {    
    font-size: 25px;
    font-family: "Huntsman",sans-serif;
    font-style: italic;
    color:cadetblue;
}
.list {
    list-style-image: url(../img/bullet.png);
}
.list li { 
    color: #484343;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    font-style: oblique;    
}
img {
    outline: 2px solid lightgrey;
}
img:hover {
    outline: none;
}
.table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkgray;   
    text-align:center;
    width: 500px;
    height:100px;
    border-collapse: collapse;    
}
.table td {
    border: 1px solid darkgray;
}
.table tr:first-child {
    height:50px;
}
.table tr:nth-child(2) {
    height:50px;
}
/*-----------------Contacts-----------------*/
form input {
    display: block;
    width: 250px;
    height: 20px;
    padding-left: 5px;
    margin-left: 70px;
    margin-top: -20px;
    
}
.input[placeholder="Ваш адрес электронной почты"]:focus {
    background-color:darkgrey;
    color: white;
}

form input[value="Отправить"] {
    margin: 0;
    width: 100px;
}

form input[value="Отмена"] {
    margin-left: 120px;
    width: 100px;
}

.input {
    color: grey;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
}

/*------------------Footer--------------*/
.footer {
    text-align: center;
}
